.square-image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

    .square-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.oculto {
    display: none;
}

.visible {
    display: inherit;
}

label {
    font-weight: bold;
}
